apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: asocijacije-data
  namespace: asocijacije
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: do-block-storage
  resources:
    requests:
      storage: 1Gi
